<launch>

<node pkg="Lindsey" type="Drone_test" name="Drone_Command" respawn="true"/> 

<node pkg="joy" type="joy_node" name="Xbox_Controller" args="/dev/input/js0" respawn="true"/>

<node pkg="Lindsey" type="Point2Point" name="P2P" respawn="true"/> 

<!--<node pkg="rxtools" type="rxplot" output="screen" name="rxplot" args="
	-t 'Error in X' 
	-l meters
	-b 100 /Point2Point/y" respawn="true" /> -->

</launch>
